<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gogagner.goldenbrainsithub.com">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>

    <application
        android:name=".GoGagnerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/go_ganer_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/go_ganer_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="gogagner.goldenbrainsithub.com.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="gogagner.goldenbrainsithub.com.LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="gogagner.goldenbrainsithub.com.SignupActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="gogagner.goldenbrainsithub.com.BuyerSellerDashBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="gogagner.goldenbrainsithub.com.VerifyOTPActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name="gogagner.goldenbrainsithub.com.ResetPasswordActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="gogagner.goldenbrainsithub.com.RequestOTP"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name="sample.RecylerViewDaemo" />

        <activity android:name="sample.NavigationViewActivity">

        </activity>
        <activity
            android:name=".BuyerMyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>

        <receiver android:name="gogagner.goldenbrainsithub.com.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>